[Desktop Entry]
Name=Bitmask
GenericName=Comunicaciones cifradas (VPN)
Comment=Comunicaciones cifradas (VPN)
Exec=/bin/sh -c "cd /opt/bitmask ; ./bitmask"
Icon=/etc/skel/bitmask.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network
